div{
    background-color:violet;
}
img{
    text-align: center;
}
h1{
    background-color: violet;
}
ul{
    background-color: beige;
}
p{
    background-color: cadetblue;
}


html {
    line-height: 1.5;
}