
img{
    border-radius: 30cm;
    align-self: center;
}
h1{
    
    text-align: center;
    
   
}
ul{
    
    float:right;


}



html {
    line-height: 1.5;
}
body{
    background-image: linear-gradient( green, beige, beige, green);
}